<div class="center-box-80 text-center">
  <h2 class="covid-green">Du bist Unternehmer und m&ouml;chtest Teil unseres Netzwerkes werden?</h2>
  <h3 class="text-with-margin">Café, Restaurant, Einzelhändler, Kulturveranstalter - YOU ARE MORE THAN WELCOME</h3>
  <span class="text-with-margin font-weight-bold">Dann melde dich unter:</span>
  <span class="text-with-margin font-weight-bold" id="">nina(at)kiezmarie.com</span>
  <span class="text-with-margin">Wir unterst&uuml;tzen Dich gern und lassen dir nach Deiner Nachricht weitere Infos zukommen.</span>
</div>
