<img src="{{ offer.pictureURLs[0] }}" id="representative-img" />
<div class="container">
  <div class="row">
    <div class="col-12 col-md-7 ml-auto">
      <div class="row">
        <div class="col-12">
          <h2 class="covid-green">{{ offer.businessName }}</h2>
          <h3>{{ offer.businessCategory }}</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h3 class="font-weight-bold">{{ offer.description }}</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <img class="avatar" src="{{ offer.ownerPictureURL }}" alt="Avatar">
        </div>
        <div class="col-7 ml-auto">
          <p>{{ offer.quote != "" ? "&bdquo;" +  offer.quote + "&ldquo;" : "" }}</p>
          <p>{{ offer.ownerName }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <a routerLink="/order/{{ offer.id }}" class="buy-button">Gutschein kaufen</a>
        </div>
      </div>
    </div>
  </div>
</div>
