/* Place the navbar at the bottom of the page, and make it stick */
#bottom-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  box-shadow: 0px -5px 5px rgb(240, 240, 240);
  background-color: white;
  z-index: 99999;
}

/* Style the links inside the navigation bar */
#bottom-bar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 100%;
}

/* Change the color of links on hover */
#bottom-bar a:hover {
  color: #0ac693;
}
