/* Place the navbar at the bottom of the page, and make it stick */
#top-bar {
  position: relative;
  top: 0;
  width: 100%;
  height: 144px;
  margin: 0;
  padding: 0;
  box-shadow: 0px 5px 5px rgb(240, 240, 240);
  background-color: white;
  text-align: right;
}

#menu-icon {
  position: absolute;
  left: 40px;
  top: 40px;
  width: 64px;
  height: 64px;
}

#wirvsvirus {
  position: absolute;
  left: 162px;
  top: 32px;
}

#wirvsvirus img {
  height: 80px;
}

#logo {
  position: absolute;
  right: 40px;
  top: 40px;
  width: 128px;
  height: 64px;
}

#sidebar-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 348px;
  height: 100%;
  z-index: 99999;
  background-color: white;
  box-shadow: 5px 0px 5px rgb(240, 240, 240);
}

#vertical-center-box-50 {
  position: absolute;
  top: calc(60% - 200px);
  left: 0;
  width: 100%;
  height: 200px;
  text-align: center;
}

#vertical-center-box-50 a {
  width: 100%;
  font-weight: 700;
  display: inline-block;
  margin: 15px 0;
}
