.confirmation {
    margin-top: 80px;
    text-align: center;
}

.confirmation h2 {
    margin-bottom: 100px;
}

.project {
    text-align: center;
    margin-top: 100px;
}

.project img {
    align-self: center;
    white-space: pre-line; 
    width: 25%;
}